@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:wght@200&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.nav-container ul li a {
    color: #000;
    text-decoration: none;
    margin-right: 30px;
    font-size:large;
}

.nav-container ul li a:hover{
    color: #fff;
}

.logo-img{
    margin-right: 55px;
}

li{
    list-style: none;
}

.header-container{
    background-color: #58A66B;
    padding: 10px 15px;
    
}

.nav-container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container ul{
    display: flex;
    align-items: center;
}

ul li button{
    margin-left: 10px;
}

.login-button{
    background-color: #58A66B;
    padding: 7px 20px;
    border: 1px solid #1C594E;
    border-radius: 4px;
    color: #1C594E;
}

.register-button{
    background-color: #1C594E;
    padding: 7px 20px;
    border: 1px solid #1C594E;
    border-radius: 4px;
    color: #fff;
}

.menu-responsivo{
    display: none;
    cursor: pointer;
}

.menu-responsivo div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

.links1 li button{
    display: none;
}

/* CONTEÚDO */

.iframe-section{
    margin-bottom: 60px;
    position: relative;
}

.iframe-texto-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 110px;
    color: rgba(255, 255, 255, 0.781);
}

.iframe-button{
    background-color: #1c594ee0;
    padding: 10px 25px;
    border: 1px solid #1c594eb4;
    border-radius: 4px;
    color: #fff;   
}

#iframe-video{
    padding-bottom: 56%;
    position: relative;
}

#iframe-video > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.primeira-section{
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 70px;
}

.h4-mais-paragrafo{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 40px;
    text-align: justify;
}

h1{
    margin-bottom: 35px;
}

h4{
    margin-bottom: 15px;
}

.p-primeira-section{
    margin-bottom: 15px;
}

.learn-button{
    background-color: #fff;
    padding: 7px 20px;
    border: 1px solid #4D8C68;
    border-radius: 4px;
    color: #4D8C68;
    margin-bottom: 28px;
}

button{
    cursor: pointer;
}

.segunda-section{
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 0 40px;
}

.segunda-section img{
    height: 440px;
}

.terceira-section img{
    height: 440px;
}

.nature-img{
    width: 580px;
}

.terceira-section{
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 40px;
    align-items: center;
}

.mae-terceira-section{
    background-color: #c1c1c170;
}

.segunda-section div{
    text-align: justify;
}

.terceira-section div{
    text-align: justify;
}

.galeria{
    margin: 0 auto;
    max-width: 1200px;
    padding: 100px 50px 80px 50px;
    display: grid;
    text-align: center;
}

.p-galeria{
    font-size: large;
    margin-bottom: 60px;
}

.galeria-imagens{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 40px;
}

.contact-section{
    background-color: #c1c1c1a1;
    margin-bottom: 70px;
}

.contato{
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 700px auto;
    align-items: center;
    justify-content: space-between;
}

.contato p{
    font-size: large;
}

.buttons-join-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.join-today{
    background-color: #1C594E;
    padding: 10px 25px;
    border: 1px solid #1C594E;
    border-radius: 4px;
    color: #fff;
}

.contact-us{
    background-color: #c1c1c1a1;
    padding: 10px 25px;
    border: 1px solid #1C594E;
    border-radius: 4px;
    color: #1C594E;
    margin-left: 30px;
}

.footer-section{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    align-items: center;
    margin-bottom: 35px;
}

.nav-footer ul {
    display: flex;
}

.nav-footer ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 15px;
}

.nav-footer ul li a:hover{
    color:#4D8C68
}

.primeiro-nav-footer ul li {
    margin-right: 60px;
}

.segundo-nav-footer ul li{
    margin-left: 60px;
}

.segundo-nav-footer {
    padding-left: 70px;
}

.nav-footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-line{
    display: flex;
    justify-content: center;
}

.footer-line div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
    margin-bottom: 60px;
    width: 1200px;
}

.icones-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.icones-footer img{
    padding: 10px;
}

.copyright{
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}


/* RESPONSIVIDADE */

@media (max-width: 1200px) {
    .h4-mais-paragrafo{
        display: grid;
        grid-template-columns: auto auto;
        text-align: justify;
    }

    .primeira-section{
        padding: 0 15px
    }

    .segunda-section{
        margin: 0 auto;
        max-width: 1200px;
        padding: 50px 15px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto;
    }

    .segunda-section div img{
        width: 100%;
        margin-bottom: 15px;
    }

    .terceira-section{
        padding: 50px 15px;
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }

    .terceira-section div img{
        width: 100%;
    }

    .terceira-section div p{
        margin-bottom: 15px;
    }

    .mae-terceira-section{
        background-color: #c1c1c170;
    }

    .galeria{
        padding: 100px 0 80px 0;
        margin: 0 15px;
        display: grid;
        text-align: center;
    }

    .galeria-imagens{
        grid-template-columns: auto auto;
    }

    .galeria-imagens img{
        width: 280px;
        height: 190px;
    }
    
    .contato{
        padding: 50px 15px;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(max-width:952px){
    body{
        overflow-x: hidden;
    }

    .links2 li{
        display: none;
    }

    .links1 li button{
        display: inline;
    }

    .links1{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #58A66B;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }

    nav ul li a {
        margin-right: 0;
    }

    .menu-responsivo{
        display: block;
    }

    ul li button{
        margin-left: 0;
    }

    .links1.active{
        transform: translateX(0);
    }

    .footer-section{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        align-items: center;
        margin-bottom: 35px;
        flex-direction: column;
        padding: 0 15px;
    }

    .primeiro-nav-footer ul li {
        margin-right: 0;
        padding: 0 30px 15px 30px;
    }

    .segundo-nav-footer ul li{
        margin-left: 0;
        padding: 15px 30px 0 30px ;
    }

    .segundo-nav-footer {
        padding-left: 0;
    }

    .footer-line{
        margin: 0 15px;
    }

}

@media(max-width:900px) {
    .iframe-texto-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
    }
}

@media (max-width: 769px) {
    .h4-mais-paragrafo{
        grid-template-columns: auto;
    }

    .galeria-imagens{
        grid-template-columns: auto;
    }

    .galeria-imagens img{
        width: 560px;
        height: 370px;
    }

    .iframe-texto-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
    }
}

@media (max-width: 600px){
    .galeria-imagens img{
        width: 300px;
        height: 170px;
    }

    .contato{
        padding: 50px 15px;
        display: grid;
        grid-template-columns: auto;
    }

    .buttons-join-contact{
        justify-content: space-between;
    }

    .texto-contato{
        margin-bottom: 20px;
    }

    .segunda-section img{
        height: 220px;
    }
    
    .terceira-section img{
        height: 220px;
    }

    .primeiro-nav-footer ul li {
        margin-right: 0;
        padding: 0 10px 25px 10px;
    }

    .segundo-nav-footer ul li{
        margin-left: 0;
        padding: 25px 10px 0 10px ;
    }
}

@media(max-width:429px){
    .galeria-imagens img{
        width: 285px;
        height: 150px;
    }

    .iframe-texto-button{
        display: none;
    }
}
